@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background: #64748b;
}

#root {
    width: 100%;
}


table {
    border: 1px solid lightgray;
}

thead {
    background: lightgray;
    margin: 0;
    position: sticky;
    top: 0;
}

tbody {
    border-bottom: 1px solid lightgray;
}

th {
    border-bottom: 1px solid lightgray;
    border-right: 1px solid lightgray;
    padding: 2px 4px;
}

td {
    border-right: 1px solid lightgray;
    padding: 2px 4px;
}

td:last-child {
    border-right: 0;
}

tfoot {
    color: gray;
}

tfoot th {
    font-weight: normal;
}

.container {
    height: 100vh;
    overflow: auto;
}
